body {
  padding-top: 50px;
}
ul.thumbs {
  list-style-type: none;
  width: 800px;
}
 
ul.thumbs h4 {
	font-weight: bold;
}

ul.thumbs li img {
  float: left;
  margin: 0 15px 0 0;
}
 
ul.thumbs li {
  padding: 10px;
  overflow: auto;
}
 
ul.thumbs li:hover {
  background: #eee;
  cursor: pointer;
}

tbody > tr.sold > td,
tbody > tr.sold > th {
	background: #e0ffe0;
}

tbody > tr.sold:nth-child(odd) > td,
tbody > tr.sold:nth-child(odd) > th {
	background: #d8f9d8;
}

#flashMessage {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
}

.cake-sql-log {
  width: 80%;
  color: #888;
}

.required-example:after, .form-group.required .control-label:after {
    content: "*";
    color: red;
}