body {
  padding-top: 50px;
}
ul.thumbs {
  list-style-type: none;
  width: 800px;
}
 
ul.thumbs h4 {
	font-weight: bold;
}

ul.thumbs li img {
  float: left;
  margin: 0 15px 0 0;
}
 
ul.thumbs li {
  padding: 10px;
  overflow: auto;
}
 
ul.thumbs li:hover {
  background: #eee;
  cursor: pointer;
}

table tr.sold {
	background: #e0ffe0;
}

table tr.sold:nth-child(even) {
	background: #d8f9d8;
}

div.bg-primary,div.bg-success,div.bg-info,div.bg-warning,div.bg-danger {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
}
