ul.thumbs {
  list-style-type: none;
  width: 800px;
}
 
ul.thumbs h4 {
	font-weight: bold;
}

ul.thumbs li img {
  float: left;
  margin: 0 15px 0 0;
}
 
ul.thumbs li {
  padding: 10px;
  overflow: auto;
}
 
ul.thumbs li:hover {
  background: #eee;
  cursor: pointer;
}
